TheMealDB Telegram Automation.json
{
  "name": "TheMealDB Telegram Automation",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "076b711a-e0c3-41c1-9f12-5d76b51ae19e",
              "name": "telegram_text",
              "value": "=🔎 <b>{{ $json.meals[0].strMeal }}</b>\n🌍 <i>Кухня: {{ $json.meals[0].strArea }}</i>\n\n📺 <a href=\"{{ $json.meals[0].strYoutube }}\">Відео-рецепт на YouTube</a>\n📖 <a href=\"{{ $json.meals[0].strSource }}\">Читати повний рецепт</a>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -16
      ],
      "id": "2aed1049-c610-4ecc-b54b-e1d01261db7c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        -16
      ],
      "id": "90ec765a-8d02-4a98-91e0-7c018cffe68c",
      "name": "Send a text message",
      "webhookId": "e33d7776-c3e0-4c70-8a4c-5b047c6e85cf",
      "credentials": {
        "telegramApi": {
          "id": "DguHYpv1HfUGpE7P",
          "name": "DevChef"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        512,
        0
      ],
      "id": "5cceeefe-b671-4df3-94a9-110cef68b36a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        768,
        224
      ],
      "id": "941a9581-fb33-4f94-8dc9-423299ba25c5",
      "placeholder": true
    },
    {
      "parameters": {
        "jsCode": "return [{}, {}, {}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "14f5b0e4-bcce-42d4-a99c-38d2e4816341",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://www.themealdb.com/api/json/v1/1/random.php",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -16
      ],
      "id": "1dc4ab19-9b10-4a57-ac71-626b078fe734",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "164227c9-ed1e-49d1-94d4-1342ae3ebcda",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d37b1042-147f-4e2d-989d-41ffb07f4d52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a552b5d731a2187808c38eaf3f801f5f51b5253e16ca7b0ff9b2893b399da95a"
  },
  "id": "ivegwTFViuh7JRIw",
  "tags": []
}
